- if current_user
  - if Docker.version.is_a? Hash
    %h4 Docker is up version #{Docker.version["Version"]} at #{BaseResource::DOCKER_URL}
    %ul
      %li=link_to "Show all containers", "/containers"
      %li=link_to "Show all images", "/images"
      %li=link_to "Show all boxes", "/boxes"
    %h2 Your Boxes
    = render partial: "boxes/index", locals: { user: true }
    %h2 Provision Box
    = render "boxes/new"
  - else
    Docker is down
- else
  .splash
    %h1=link_to "Log in", new_user_session_path
    = image_tag "starfox_logo.png", width: 542, height: 352
