- if current_user
  - if Docker.version.is_a? Hash
    %h4 Docker is up version #{Docker.version["Version"]} at #{BaseResource::DOCKER_URL}
    %ul
      %li=link_to "Show all containers", "/containers"
      %li=link_to "Show all images", "/images"
      %li=link_to "Show all boxes", "/boxes"
    %h2 Your Boxes
    = render partial: "boxes/index", locals: { user: true }
    %h2 Provision Box
    = simple_form_for Box.new do |f|
      = f.input :name
      = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
      = f.submit
  - else
    Docker is down
- else
  =link_to "Log in", new_user_session_path
